// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary-dark-color: #121421;
$secondary-dark-color: #1E202C;
$red-color: #EB5757;
$gray-color: #707070;
$white-color: #fff;
$green-color: #50FF8A;
$yellow-color: #FFE250;

$small: 768px;
$medium: 1366px;
$high: 1920px;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
