<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="dist/css/main.css">
    <title>POS - Laravel</title>
</head>

<body>
    <div class="page-wrapper">
        <div class="container-fluid main-wrapper">
            <div class="row main-content">
                <div class="col-lg-8">
                    <div class="upper-section">
                        <nav class="nav">
                            <a href="index.html" class="active">Home</a>
                            <a href="orders.html">Orders</a>
                            <a href="login.html">Login</a>
                        </nav>
                        <div class="product-tab">
                            <div class="item-product">
                                <span class="type">Type</span>
                                <img src="img/food-1.png" alt="">
                                <div class="product">
                                    <p>Chicken</p>
                                    <span>$30</span>
                                </div>
                            </div>
                            <div class="item-product">
                                <span class="type">Type</span>
                                <img src="img/food-1.png" alt="">
                                <div class="product">
                                    <p>Chicken</p>
                                    <span>$30</span>
                                </div>
                            </div>
                            <div class="item-product">
                                <span class="type">Type</span>
                                <img src="img/food-1.png" alt="">
                                <div class="product">
                                    <p>Chicken</p>
                                    <span>$30</span>
                                </div>
                            </div>
                            <div class="item-product">
                                <span class="type">Type</span>
                                <img src="img/food-1.png" alt="">
                                <div class="product">
                                    <p>Chicken</p>
                                    <span>$30</span>
                                </div>
                            </div>
                            <div class="item-product">
                                <span class="type">Type</span>
                                <img src="img/food-1.png" alt="">
                                <div class="product">
                                    <p>Chicken</p>
                                    <span>$30</span>
                                </div>
                            </div>
                            <div class="item-product">
                                <span class="type">Type</span>
                                <img src="img/food-1.png" alt="">
                                <div class="product">
                                    <p>Chicken</p>
                                    <span>$30</span>
                                </div>
                            </div>
                            <div class="item-product">
                                <span class="type">Type</span>
                                <img src="img/food-1.png" alt="">
                                <div class="product">
                                    <p>Chicken</p>
                                    <span>$30</span>
                                </div>
                            </div>
                            <div class="item-product">
                                <span class="type">Type</span>
                                <img src="img/food-1.png" alt="">
                                <div class="product">
                                    <p>Chicken</p>
                                    <span>$30</span>
                                </div>
                            </div>
                            <div class="item-product">
                                <span class="type">Type</span>
                                <img src="img/food-1.png" alt="">
                                <div class="product">
                                    <p>Chicken</p>
                                    <span>$30</span>
                                </div>
                            </div>
                            <div class="item-product">
                                <span class="type">Type</span>
                                <img src="img/food-1.png" alt="">
                                <div class="product">
                                    <p>Chicken</p>
                                    <span>$30</span>
                                </div>
                            </div>
                            <div class="item-product">
                                <span class="type">Type</span>
                                <img src="img/food-1.png" alt="">
                                <div class="product">
                                    <p>Chicken</p>
                                    <span>$30</span>
                                </div>
                            </div>
                            <div class="item-product">
                                <span class="type">Type</span>
                                <img src="img/food-1.png" alt="">
                                <div class="product">
                                    <p>Chicken</p>
                                    <span>$30</span>
                                </div>
                            </div>
                            <div class="item-product">
                                <span class="type">Type</span>
                                <img src="img/food-1.png" alt="">
                                <div class="product">
                                    <p>Chicken</p>
                                    <span>$30</span>
                                </div>
                            </div>
                            <div class="item-product">
                                <span class="type">Type</span>
                                <img src="img/food-1.png" alt="">
                                <div class="product">
                                    <p>Chicken</p>
                                    <span>$30</span>
                                </div>
                            </div>
                            <div class="item-product">
                                <span class="type">Type</span>
                                <img src="img/food-1.png" alt="">
                                <div class="product">
                                    <p>Chicken</p>
                                    <span>$30</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="bottom-section">
                        <div class="filter">
                            <div class="value-filter">
                                All Categories
                            </div>
                            <div class="item-filter">
                                <div class="item active">tes 1 <i class="fa fa-check"></i></div>
                                <div class="item">tes 2 <i class="fa fa-check"></i></div>
                                <div class="item">tes 3 <i class="fa fa-check"></i></div>
                                <div class="item">tes 4 <i class="fa fa-check"></i></div>
                            </div>
                        </div>
                        <div class="owl-carousel">
                            <div class="filter-choice active"> Your Content </div>
                            <div class="filter-choice"> Your Content </div>
                            <div class="filter-choice"> Your Content </div>
                            <div class="filter-choice"> Your Content </div>
                            <div class="filter-choice"> Your Content </div>
                            <div class="filter-choice"> Your Content </div>
                            <div class="filter-choice"> Your Content </div>
                            <div class="filter-choice"> Your Content </div>
                            <div class="filter-choice"> Your Content </div>
                            <div class="filter-choice"> Your Content </div>
                            <div class="filter-choice"> Your Content </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="checkout">
                        <div class="header">
                            <h2>Order</h2>
                            <div class="line"></div>
                        </div>
                        <div class="body">
                            <div class="item-checkout">
                                <div class="item">
                                    <div class="product">
                                        <div class="qty">
                                            <i class="fa fa-minus"></i>
                                            <div class="circle">
                                                1
                                            </div>
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <div class="name-product">
                                            <div class="name">Icecream</div>
                                            <div class="price">$15</div>
                                        </div>
                                    </div>
                                    <div class="price-close">
                                        <div class="total">$30</div>
                                        <i class="fa fa-close"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="product">
                                        <div class="qty">
                                            <i class="fa fa-minus"></i>
                                            <div class="circle">
                                                1
                                            </div>
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <div class="name-product">
                                            <div class="name">Icecream</div>
                                            <div class="price">$15</div>
                                        </div>
                                    </div>
                                    <div class="price-close">
                                        <div class="total">$30</div>
                                        <i class="fa fa-close"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="product">
                                        <div class="qty">
                                            <i class="fa fa-minus"></i>
                                            <div class="circle">
                                                1
                                            </div>
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <div class="name-product">
                                            <div class="name">Icecream</div>
                                            <div class="price">$15</div>
                                        </div>
                                    </div>
                                    <div class="price-close">
                                        <div class="total">$30</div>
                                        <i class="fa fa-close"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="discount">
                                <div class="label">
                                    Discount
                                </div>
                                <div class="coupon">
                                    <input type="text" class="input-text">
                                    <div class="apply">
                                        <button>Apply</button>
                                        <div class="text-discount">discount 10%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-checkout">
                                <div class="total">
                                    <p class="label-price">Total</p>
                                    <div class="price">
                                        <div class="pay-price">$54</div>
                                        <div class="price-wrapper">
                                            <div class="price-slash"></div>
                                            <div class="pay-discount">$60</div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="btn-pay">
                            <div class="text">pay</div>
                            <div class="price">$54</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery(".owl-carousel").owlCarousel({
                margin: 44,
                autoWidth: true,
            });

            jQuery(".value-filter").click(function () {
                jQuery(".item-filter").toggleClass("expand");
                console.log('test');
            });

            jQuery(".filter-choice").click(function () {
                let filter = jQuery(".filter-choice");
                filter.removeClass("active");
                jQuery(this).toggleClass("active");
            });

            jQuery(".item-filter .item").click(function () {
                let item = jQuery(".item-filter .item");
                let value = jQuery(".value-filter");
                item.removeClass("active");
                jQuery(this).toggleClass("active");
                jQuery(".item-filter").toggleClass("expand");
                value.text(this.innerText);
            });


        });
    </script>
</body>

</html>
