<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="dist/css/main.css">
    <title>Orders - Laravel POS</title>
</head>

<body>
    <div class="page-wrapper">
        <section class="orders-wrapper">
            <div class="sidebar-order">
                <h3>Orders</h3>
                <div class="line"></div>
                <div class="item-order">
                    <div class="item active">
                        <div class="order">
                            <h4 class="id-order">#Order312212</h4>
                            <p class="process success">Done</p>
                        </div>
                        <h4 class="price">$30</h4>
                    </div>
                    <div class="item">
                        <div class="order ">
                            <h4 class="id-order">#Order312212</h4>
                            <p class="process success">Done</p>
                        </div>
                        <h4 class="price">$30</h4>
                    </div>
                    <div class="item">
                        <div class="order ">
                            <h4 class="id-order">#Order312212</h4>
                            <p class="process pending">Done</p>
                        </div>
                        <h4 class="price">$30</h4>
                    </div>
                    <div class="item">
                        <div class="order">
                            <h4 class="id-order">#Order312212</h4>
                            <p class="process pending">Done</p>
                        </div>
                        <h4 class="price">$30</h4>
                    </div>
                    <div class="item">
                        <div class="order">
                            <h4 class="id-order">#Order312212</h4>
                            <p class="process cancel">Done</p>
                        </div>
                        <h4 class="price">$30</h4>
                    </div>
                    <div class="item">
                        <div class="order">
                            <h4 class="id-order">#Order312212</h4>
                            <p class="process pending">Done</p>
                        </div>
                        <h4 class="price">$30</h4>
                    </div>
                    <div class="item">
                        <div class="order">
                            <h4 class="id-order">#Order312212</h4>
                            <p class="process pending">Done</p>
                        </div>
                        <h4 class="price">$30</h4>
                    </div>
                </div>
                <div class="nav">
                    <a href="index.html" class="nav-link">Home</a>
                    <a href="orders.html" class="nav-link active">Orders</a>
                    <a href="login.html" class="nav-link">Login</a>
                </div>
            </div>
            <div class="details">
                <div class="header">
                    <div class="process-order">
                        <h4 class="id-order">#Order-3142212</h4>
                        <p class="process pending">Proses</p>
                    </div>
                    <div class="total">
                        <h4>Total : $30</h4>
                    </div>
                </div>
                <div class="body">
                    <h4>Details Order</h4>
                    <div class="top">
                        <p>items</p>
                        <p>amount</p>
                    </div>
                    <div class="item">
                        <div class="order">
                            <img src="img/food-1.png" alt="food">
                            <h4 class="name">2x Burger Chesse double</h4>
                        </div>
                        <h4 class="amount">$20</h4>
                    </div>
                    <div class="item">
                        <div class="order">
                            <img src="img/food-1.png" alt="food">
                            <h4 class="name">2x Burger Chesse double</h4>
                        </div>
                        <h4 class="amount">$20</h4>
                    </div>
                    <div class="item">
                        <div class="order">
                            <img src="img/food-1.png" alt="food">
                            <h4 class="name">2x Burger Chesse double</h4>
                        </div>
                        <h4 class="amount">$20</h4>
                    </div>
                    <div class="item">
                        <div class="order">
                            <img src="img/food-1.png" alt="food">
                            <h4 class="name">2x Burger Chesse double</h4>
                        </div>
                        <h4 class="amount">$20</h4>
                    </div>
                    <div class="item">
                        <div class="order">
                            <img src="img/food-1.png" alt="food">
                            <h4 class="name">2x Burger Chesse double</h4>
                        </div>
                        <h4 class="amount">$20</h4>
                    </div>
                    <div class="item">
                        <div class="order">
                            <img src="img/food-1.png" alt="food">
                            <h4 class="name">2x Burger Chesse double</h4>
                        </div>
                        <h4 class="amount">$20</h4>
                    </div>
                </div>
                <div class="footer">
                    <button class="btn-cancel">Cancel</button>
                    <button class="btn-finish">Finish</button>
                </div>
            </div>
        </section>
    </div>
</body>

</html>